<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    .button-container {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
    }

    .button-container button {
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
    }

    table {
      width: 50%;
      margin: 20px auto;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
  </style>
  <script>
    function refreshTable() {
      fetch('/status')
      .then(response => response.text())
      .then(data => {
        document.getElementById('table-container').innerHTML = data;
      })
      .catch(error => console.error('Error fetching status:', error));
    }

    const intervalId = setInterval(refreshTable, 300); // Refresh every 100mS
  </script>
</head>
<body>
<div align="center">
  <h1>Run state</h1>

  <div id="table-container">
    <table id="table">
      <tr>
        <td><b>Elapsed Time</b></td>
        <td th:text="${state.getElapsedTime()}">-</td>
      </tr>
      <tr>
        <td><b>Processed Messages</b></td>
        <td th:text="${state.getProcessedMessages()}">-</td>
      </tr>
      <tr>
        <td><b>Failed Messages</b></td>
        <td th:text="${state.getFailedMessages()}">-</td>
      </tr>
      <tr>
        <td><b>Success Messages</b></td>
        <td th:text="${state.getSuccessMessages()}">-</td>
      </tr>
      <tr>
        <td><b>Minimum Processing Time, mS</b></td>
        <td th:text="${state.getMinimumProcessingTime()}">-</td>
      </tr>
      <tr>
        <td><b>Average Processing Time, mS</b></td>
        <td th:text="${state.getAverageProcessingTime()}">-</td>
      </tr>
      <tr>
        <td><b>Maximum Processing Time, mS</b></td>
        <td th:text="${state.getMaximumProcessingTime()}">-</td>
      </tr>

    </table>
  </div>
  <br/>
  <div class="button-container">
    <form action="#" th:action="@{/stop}" method="post">
      <button th:disabled="${!state.running}" type="submit" class="btn btn-primary">Stop</button>
    </form>
    <form action="#" th:action="@{/newRun}" method="post">
      <button th:disabled="${state.running}" type="submit" class="btn btn-primary">New Run</button>
    </form>
  </div>
</div>
</body>
</html>